html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E3A8A;
  color: white;
  font-size: xx-large;
  width: 101%;
  padding: 20px;
  box-shadow: 0 10px 8px -6px black;
  margin-left: -10px;
  margin-bottom: 30px;
  background-image: url('https://www.transparenttextures.com/patterns/micro-carbon.png');
}

.brand {
  font-size: 80%;
}

.prompt {
  font-size: 70%;
}

#search {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#logo {
  padding-right: 300px;
}

.card {
  text-align: center;
}

#album {
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#album:hover {
  background-color: #419cda;
}

.id {
  padding: 10px;
}

.title {
  padding: 10px;
}

#photo {
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#image {
  background-color: #FFFF;
  margin-top: 10px;
}

@media only screen and (max-width: 705px) {
  #title {display: none}
  .nav {justify-content: center}
}
